<h1><center>Welcome to barbershop</center></h1>
<p><center>We are open</center></p>

<form action="/" method="POST">
  Your Name:<br/>
  <input type="text" name="user_name"/><br/>
  Your Phone:<br/>
  <input type="text" name="phone"/><br/>
  Appointment Datetime:<br/>
  <input type="text" name="date_time"/><br/>
  <input type="submit"/><br/>
</form>

<form action="/" method="POST"
  Admin panel<br/>
  Login:<br/>
  <input type="text" name="login"/><br/>
  Password:<br/>
  <input type="text" name="password"/><br/>
  <input type="submit"/>
</form>